<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>SAMC - Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <!-- <div class="navbar-brand-box">
                            <a href="index.ejs" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="" height="17">
                                </span>
                            </a>

                            <a href="index.ejs" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="" height="32">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="" height="45">
                                </span>
                            </a>
                        </div> -->

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                            id="vertical-menu-btn">
                            <i class="mdi mdi-menu"></i>
                        </button>


                    </div>

                    <div class="d-flex">


                        <div class="dropdown d-none d-md-block ms-2">
                            <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img class="me-2" src="assets/images/flags/us_flag.jpg" alt="Header Language"
                                    height="16">
                                English
                            </button>

                        </div>

                        <div class="dropdown d-none d-lg-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect"
                                data-bs-toggle="fullscreen">
                                <i class="mdi mdi-fullscreen"></i>
                            </button>
                        </div>



                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="assets/images/users/user-4.jpg"
                                    alt="Header Avatar">
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="bx bx-power-off font-size-17 align-middle me-1 text-danger"></i>
                                    Logout</a>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Main</li>

                            <!-- <li>
                                <a href="index.ejs" class="waves-effect">
                                    <i class="ti-home"></i><span
                                        class="badge rounded-pill bg-primary float-end">1</span>
                                    <span>Dashboard</span>
                                </a>
                            </li> -->

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-blackboard"></i>
                                    <span>News</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="news-list.ejs">List</a></li>
                                    <li><a href="news-form.ejs">Post a News</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-user"></i>
                                    <span>Careers</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="email-inbox.ejs">List</a></li>
                                    <li><a href="form-repeater.ejs">Post a Job</a></li>
                                </ul>
                            </li>

                            <!-- <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-archive"></i>
                                    <span> Authentication </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="pages-register.ejs">Register 1</a></li>
                                </ul>
                            </li> -->

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h6 class="page-title">Inbox</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->




                        <div class="row">
                            <div class="col-12">
                                <!-- Left sidebar -->
                                <div class="email-leftbar card">
                                    <div class="d-grid">
                                        <a href="news-form.ejs"
                                            class="btn btn-danger rounded btn-custom waves-effect waves-light">Make
                                            News</a>
                                    </div>
                                    <div class="mail-list mt-4">
                                        <a href="#" class="active">List</a>
                                    </div>



                                </div>
                                <!-- End Left sidebar -->


                                <!-- Right Sidebar -->
                                <div class="email-rightbar mb-3">

                                    <div class="card">
                                        <div class="btn-toolbar p-3" role="toolbar">
                                            <div class="btn-group me-2 mb-2 mb-sm-0" ">
                                                <button type=" button " class=" btn btn-primary waves-light
                                                waves-effect "><i class=" fa fa-inbox "></i></button>
                                            </div>
                                            



                                    </div>
                                </div>
                                <ul class=" message-list ">
                                    <%_ renderData.forEach(function(news){%>
                                            <li>
                                                <div class=" col-mail col-mail-1 ">
                                                    <div class=" checkbox-wrapper-mail ">
                                                        <input type=" checkbox " id=" chk19 ">
                                                        <label for=" chk19 " class=" toggle "></label>
                                                    </div>
                                                    <a href=" # " class=" title "> <%= news.author %></a><span class="
                                                star-toggle far fa-star "></span>
                                                </div>
                                                <div class=" col-mail col-mail-2 ">
                                                    <a href=" # " class=" subject "><span class=" bg-warning badge me-2 "><%= news.category %></span><%= news.newsHead %>
                                                        <span class=" teaser "><%= news.shortDescription %></span>
                                                    </a>
                                                </div>
                                                <div class=" col-mail col-mail-2 " style="margin-left: 40%;">
                                                    <button type=" button " value="<%= news.id %>" class=" btn btn-primary waves-light
                                                    waves-effect delete_btn"><i class=" far fa-trash-alt "></i></button>
                                                </div>
                                            </li>
                                            <% }); %>
                                                <!-- li>
                                                    <div class=" col-mail col-mail-1 ">
                                                        <div class=" checkbox-wrapper-mail ">
                                                            <input type=" checkbox " id=" chk20 ">
                                                            <label for=" chk20 " class=" toggle "></label>
                                                        </div>
                                                        <a href=" # " class=" title ">Admin</a><span class="
                                                star-toggle far fa-star "></span>
                                                    </div>
                                                    <div class=" col-mail col-mail-2 ">
                                                        <a href=" # " class=" subject "><span
                                                                class=" bg-info badge me-2 ">Jobs</span>Seafield
                                                            logistics goes into administration –
                                                            <span class=" teaser ">Seafield Logistics has gone into
                                                                administration and two of its operat</span>
                                                        </a>
                                                        <div class=" date ">Mar 26</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class=" col-mail col-mail-1 ">
                                                        <div class=" checkbox-wrapper-mail ">
                                                            <input type=" checkbox " id=" chk7 ">
                                                            <label for=" chk7 " class=" toggle "></label>
                                                        </div>
                                                        <a href=" # " class=" title ">Admin</a><span class="
                                                star-toggle far fa-star "></span>
                                                    </div>
                                                    <div class=" col-mail col-mail-2 ">
                                                        <a href=" # " class=" subject "><span
                                                                class=" bg-success badge me-2 ">Transport</span>Transport
                                                            managers grow scarce -
                                                            <span class=" teaser ">Welcome to the Logistics Job Shop
                                                                Newsletter; your need-to-know digest and analysis</span>
                                                        </a>
                                                        <div class=" date ">Mar 25</div>
                                                    </div>
                                                </li -->

                                                </ul>

                                        </div>
                                        <!-- card -->

                                        <div class=" row mt-4 ">
                                            <div class=" col-7 ">
                                                Showing 1 - 20 of 1,524
                                            </div>
                                            <div class=" col-5 ">
                                                <div class=" btn-group float-end ">
                                                    <button type=" button " class=" btn btn-sm btn-success
                                                waves-effect "><i class=" fa fa-chevron-left "></i></button>
                                                    <button type=" button " class=" btn btn-sm btn-success
                                                waves-effect "><i class=" fa fa-chevron-right "></i></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end Col-9 -->

                                </div>

                            </div>
                            <!-- End row -->

                        </div>
                        <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->


                    <footer class=" footer ">
                        <div class=" container-fluid ">
                            <div class=" row ">
                                <div class=" col-12 ">
                                    ©
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script> SAMC<span class=" d-none d-sm-inline-block "> - Created by <a href="
                                            https://www.eumla.to ">Eumla LLC.</a></span>
                                </div>
                            </div>
                        </div>
                    </footer>


                </div>
                <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->


            <!-- Right bar overlay-->
            <div class=" rightbar-overlay "></div>

            <!-- JAVASCRIPT -->
            <script src=" assets/libs/jquery/jquery.min.js "></script>
            <script src=" assets/libs/bootstrap/js/bootstrap.bundle.min.js "></script>
            <script src=" assets/libs/metismenu/metisMenu.min.js "></script>
            <script src=" assets/libs/simplebar/simplebar.min.js "></script>
            <script src=" assets/libs/node-waves/waves.min.js "></script>


            <script src=" assets/js/app.js "></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $(".delete_btn").click(function () {
                        var btn_val = $(this).val();
                        console.log(btn_val);
                        
                        var myHeaders = new Headers();
                        myHeaders.append("Content-Type", "application/json");
                        var raw = JSON.stringify({
                           "id":btn_val
                        });
                        var requestOptions = {
                            method: 'DELETE',
                            headers: myHeaders,
                            body: raw,
                            redirect: 'follow'
                        };
                        fetch("https://api.salemalmakrani.net/api/news", requestOptions)
                            .then(response => response.json())
                            .then(result => {
                                alert(result.status ? "Deleted !" : "Error !");
                                console.log(result);
                            })
                            .catch(error => console.log('error', error));
                    })
                })
                </script>
           </body>

</html>